body {
    background: #232A47 !important;
}

.wrapper {
    vertical-align: middle;
    width: 60%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

form .input-box {
    height: 52px;
    margin: 25px 0 35px 0;
}

form .input-box input,
form .input-box select {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

/* .input-box input:focus,
.input-box input:valid {
    border-color: #FCCA11;
} */

.input-box select:focus {
    border-color: #FCCA11;
}

form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    background: #FCCA19;
    cursor: pointer;
}

.input-box.button input:hover {
    background: rgb(134, 134, 134);
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #FCCA19;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

form .forget {
    text-align: right;
}

form .forget small a {
    text-decoration: none;
    color: #FCCA19;
}

.detail small {
    color: grey;
}


/* หน้า condition */

.condition {
    height: 480px;
    overflow: auto;
}


/* alert privacy */

.text-left {
    text-align: left;
    font-size: 16px;
    height: 500px;
}

.text-left p {
    text-indent: 30px;
}


/* Button */

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-prev {
    background-color: rgb(185, 185, 185) !important;
    margin-top: 25px;
}

.btn-next {
    background-color: #FCCA19 !important;
    margin-top: 25px;
}

input .btn-warning {
    background-color: #FCCA19 !important;
    margin-top: 25px;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 391px) {
    .wrapper {
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}